
<div class="hatterszin">
  <app-background><div class="overlay-text">
    <p>Lépj egyet előre a megoldás felé! <br>Vedd fel a kapcsolatot a
    mentálhigiénés szakemberrel!</p>

      <img src="/assets/fixed_logo_transparent.png" alt="logo" class="justify-content-center" id="kezdolap-logo">

      <p
    style="font-size: 30px;">
    Szerezd vissza, védd, és őrizd meg lelked egészségét!
      </p>
    </div>
  </app-background>
  <div class="kezdolap-text text-center text-wrap">
    Gyerekként mindenki álmodozott szuperképességekről. Mennyi irodalom, mese, mozifilm épül erre a korszakra és vágyra: beszéljünk az állatok nyelvén, tudjunk repülni,
    emberfeletti erővel rendelkezzünk, láthatatlanná váljunk, stb. Az érzelmekkel, nehézségekkel, lelki problémákkal való megküzdés, ha egyedül próbáljuk, ugyanilyen lehetetlen.
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
