// .image-container {
//   position: relative;
//   width: 100%; /* A kívánt szélesség */
//   height: 70vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
//   overflow: hidden; /* Elrejti a felesleges részeket */
// }

// .background-image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover; /* A kép méretének igazítása a teljes méretre */
//   display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
// }

// .body{
//   background-color: #fdeeee;
// }

// .overlay-text {
//   position: absolute;
//   font-family: 'EB Garamond';
//   font-size: 5em;
//   top: 30%;
//   bottom: 40%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: rgb(114, 113, 216);
//   text-align: center;
//   padding: 10px;
//   box-sizing: border-box;
//   width: 80%;
// }

// #kezdolap-logo {
//   width: 85px;
//   height: 68px;
//   position: relative;
//   left: 45%;
// }



// @media (min-width: 1181px) {
//   .overlay-text {
//     font-size: 65px; /* Kisebb betűméret a közepes képernyőknél */
//     width: 90%; /* Szélesség állítása közepes képernyőn */
//     top: 300px;
//     bottom: auto;
//   }
// }

// @media (max-width: 1180px) {
//   .overlay-text {
//     font-size: 50px; /* Kisebb betűméret a közepes képernyőknél */
//     width: 90%; /* Szélesség állítása közepes képernyőn */
//     bottom: 400px;
//   }
// }

// @media (max-width: 600px) {
//   .overlay-text {
//     top: auto;
//     bottom: 400px; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 48px; /* Kisebb betűméret a kisebb képernyőkön */
//   }
// }

// @media (max-width: 462px) {
//   .overlay-text {
//     top: auto;
//     bottom: 340px; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 40px; /* Kisebb betűméret a kisebb képernyőkön */
//   }
// }
.image-container {
  position: relative;
  width: 100%; /* A kívánt szélesség */
  height: 70vh; /* A kívánt magasság, pl. 70% a viewport magasságából */
  overflow: hidden; /* Elrejti a felesleges részeket */
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* A kép méretének igazítása a teljes méretre */
  display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
}


.overlay-text {
  font-family: 'Garamond';
  font-size: 3em; /* Például: 5em a szöveg méretéhez */
  // top: 30%;
  // bottom: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: rgb(114, 113, 216);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

#kezdolap-logo {
  width: 3em; /* A kép szélessége em egységekben */
  height: auto; /* A kép magassága automatikusan igazodik a szélességhez */
  position: relative;
  left: 45%;
  justify-content: center;
  color: white;
}

.hatterszin {
  // background-color: #fdeeee;
  background-image: linear-gradient(#015847, #06ac8b, #68cbf3, #bfeafb);
  margin: 0; /* Győződj meg róla, hogy nincs margin a body-n */
  padding-top: 7rem; /* Győződj meg róla, hogy nincs padding a body-n */
  height: 100%; /* Biztosítja, hogy a háttérszín az egész oldalon érvényes legyen */
}

.kezdolap-text {
  // width: 80%;
  padding: 10px;
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
  text-align: justify;
  // text-align: center;
  // // justify-content: center;
  // // align-items: center;
  // display: flex;
}

.type1{
  font-size: 22px;
  font-family: 'Garamond';
  color: black;
  // text-align: justify;
}

#kezdoszoveg{
  text-align: justify;
}

#type1-1{
  color: black;
  text-align: justify;
}

#type1-2{
  font-size: 22px;
  text-align: justify;
}

.madar{
  width: 35rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  // border-radius: 50%;
  border-radius: 15%;
}

#question{
  font-size: 28px;
  color: black;

}

#vikar{
  color: black;
  text-align: center;
}

@media (max-width: 452px) {
  .overlay-text{
    margin-top: 60px;
  }
  .custom-bg{
    margin-top: 90px;
  }
}

/* CSS */
.button-35 {
  align-items: center;
  background-color: #93d9ff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #1affc6 0 0 0 1px, transparent 0 0 0 0;
}



/* Reszponzív beállítások */
// @media (min-width: 1181px) {
//   .overlay-text {
//     font-size: 3em; /* Kisebb betűméret a közepes képernyőknél */
//     width: 90%; /* Szélesség állítása közepes képernyőn */
//     top: 300px;
//     bottom: auto;
//   }

//   #kezdolap-logo {
//     width: 3em; /* A kép szélessége em egységekben */
//   }
// }

// @media (max-width: 1180px) {
//   .overlay-text {
//     font-size: 3em; /* Kisebb betűméret a közepes képernyőknél */
//     width: 90%; /* Szélesség állítása közepes képernyőn */
//     bottom: 450px;
//   }

//   #kezdolap-logo {
//     width: 2em; /* A kép szélessége em egységekben */
//   }
// }

// @media (max-width: 600px) {
//   .overlay-text {
//     top: auto;
//     bottom: 400px; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 1.5em; /* Kisebb betűméret a kisebb képernyőkön */
//   }

//   #kezdolap-logo {
//     width: 1.5em; /* A kép szélessége em egységekben */
//   }
// }

// @media (max-width: 462px) {
//   .overlay-text {
//     top: auto;
//     bottom: 340px; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 1.2em; /* Kisebb betűméret a kisebb képernyőkön */
//   }

//   #kezdolap-logo {
//     width: 1.2em; /* A kép szélessége em egységekben */
//   }
// }
