<app-background><div class="overlay-text">
  <p>Lépj egyet előre a megoldás felé! <br>Vedd fel a kapcsolatot a
    mentálhigiénés szakemberrel!</p>

    <img src="/assets/fixed_logo_transparent.png" alt="logo" class="justify-content-center" id="kezdolap-logo">

    <p
    style="font-size: 30px;">
    Szerezd vissza, védd, és őrizd meg lelked egészségét!
  </p>
</div>
</app-background>
<div class="hatterszin">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
