<div class="hatterszin">
  <app-background>
    <div class="overlay-text">
    <p>Szerezd vissza és őrizd meg <br>lelked egészségét!</p>
      <img src="/assets/profil2.jfif" alt="profil2" class="justify-content-center" id="kezdolap-profil">
      <p style="font-size: 30px;">
    Vedd fel a kapcsolatot a mentálhigiénés szakemberrel!
      </p>

    </div>
  </app-background>
  <br>
  <div class="kezdolap-text text-center text-wrap">
    <div class="type1">
      <p id="kezdoszoveg">Gyerekként mindenki álmodozott szuperképességekről. Mennyi irodalom, mese, mozifilm épül erre a korszakra és vágyra:
      beszéljünk az állatok nyelvén, tudjunk repülni,
      emberfeletti erővel rendelkezzünk, láthatatlanná váljunk, stb. Az érzelmekkel, nehézségekkel, lelki problémákkal való megküzdés,
      ha egyedül próbáljuk, ugyanilyen nehéz.</p>
      <p id="type1-1"><b>Szükségünk van valakire, aki ítéletmentesen, feltétel nélkül elfogad, mellénk áll, tükröt tart,
        és együttérzésével átsegít minket hegyeinken, völgyeinken.</b></p>

      <br>
      <p id="type1-2">Évtizedekkel ezelőtt még kínos volt pszichológushoz járni. Az ember addig várt a segítségkéréssel,
        amíg már tényleg nagyon rosszul volt, és kénytelen volt félretenni azt a kellemetlen érzést és vádat,
        hogy ő „beteg vagy bolond”. Mostanra már a közvélekedés szerencsére megváltozott, és olyan természetes lelki problémákkal
        szakemberhez fordulni, mint háziorvoshoz testi betegség esetén.</p>
      <br>
      <img src="/assets/madar.png" alt="madar" class="madar">
      <br>
      <p id="question"><b>»Miért éppen a mentálhigiénés segítő? Miben más, mint a pszichológus?</b></p>
      <br>
      <p id="type1-2">Gyakran teszik fel nekem a kérdést, hogy mi a különbség a pszichológus és a mentálhigiénés segítő között.
        Sokan fordulnak pszichológushoz mentális problémáikkal, lelki nehézségeikkel. Gyakran azonban „elég” a mentálhigiénés segítő is.
        Ez az „elég” nem azt jelenti, hogy a mentálhigiénés szakember kevesebbet érne, kevesebbet tudna adni egy pszichológusnál.
        Mi inkább egy kicsit más módszerrel, más hozzáállással dolgozunk, és nem tartunk klasszikus értelemben vett terápiát.
        A mentálhigiénés szakember melletted áll, úgy fogad el, ahogy vagy. Értő, együttérző jelenlétével, tudásával,
        tapasztalatával abban segít, hogy hozzáférj saját erőforrásaidhoz. Hogy egy pillanatra eltávolodj a problémától,
        és józanul tekinthess rá. Abba az irányba halad, ami a te irányod, amerre te szeretnél menni.
        <br><br>
        Az alapvető különbséget a magyarországi mentálhigiéné megalapozóitól idézem:<br>
      </p>
        <p><b id="vikar">„… a mentálhigiénés segítő a bajba jutott, egészséges embereknek segít.”</b>
        <br>
        <i>(Vikár Gy., Tomcsányi T.)</i></p>
        <br>


        <button class="button-35" [routerLink]="['/kapcsolat']" routerLinkActive="active" role="button" >Kapcsolatfelvétel</button>
        <br><br><br>

        <p id="type1-2">Azoknak tudunk segíteni, akik életük bizonyos szakaszában éppen nincsenek olyan állapotban,
        hogy egyedül meg tudják oldani problémáikat. Egészséges embereknek segítünk abban,
        hogy jobban rálássanak problémáikra, ezáltal lehetőségük legyen hozzáfogni a megoldáshoz.
        Meg tudják teremteni, és fenn tudják tartani lelki egészségüket, egyensúlyukat.
        Határaikat meghúzzák, közelebb kerülnének saját belső világukhoz, megértik és megélik érzelmeiket.
        <br>
      </p>
      <p id="type1-1"><b>Hiszem, hogy aki a legjobban ért a lelkedhez, az te magad vagy. Ha aktuálisan elveszítetted saját életed főszerepét, és a rendezői székből egy esemény, kapcsolat vagy helyzet kitaszított, együtt megtalálhatjuk az utat, hogy visszaülj eredeti, egészséges szerepedbe.</b>
      </p>
    </div>
  </div>
  <br>
</div>
