@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700');

$primary-color: #333;
$secondary-color: #24B5AB;
$link-color: rgb(22, 105, 64);
$white-color: #fff;
$gray-color: #222;
$gray-light-color: #92999f;

* {
  font-family: 'Open Sans', sans-serif;
}

.footer-distributed {
  background: $secondary-color;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;

  .footer-left,
  .footer-center,
  .footer-right {
    display: inline-block;
    vertical-align: top;
  }

  .footer-left {
    width: 40%;
  }

  h3 {
    color: $white-color;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;

    span {
      color: #6aebe2;
    }
  }

  .footer-company-name {
    color: $gray-color;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  .footer-center {
    width: 35%;

    .infok {
      font-size: 22px;
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 0;
      padding: 0;
    }
  }

  .footer-right {
    width: 20%;

    a {
      color: $white-color;
      text-decoration: none;
    }

    i {
      color: white;
    }

    p {
      margin: 0;
      padding: 0;
    }

    .footer-icons {
      margin-top: 25px;

      a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border-radius: 2px;
        font-size: 20px;
        color: $white-color;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
      }
    }
  }

  @media (max-width: 880px) {
    font: bold 14px sans-serif;

    .footer-left,
    .footer-center,
    .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
      justify-content: center;
    }

    .fa, .fa-phone, .footer-right{
      color: white;
    }

    .logo-container{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .footer-center i {
      margin-left: 0;
    }
  }
}


@media (min-width: 881px) {
  .footer-right{
  position: absolute;
  right: 17%;
  color: white;
  }

  .footer-left{
  position: relative;
  left: 20%;
  }
}

.logo {
  width: 8rem;
}

.infok {
  font-size: 22px;
  color: white;
  margin: 0;
  padding: 0;
}

#kapcsolatszin{
  color: white;
}

.fa{
  color: white;
}
