
<footer class="footer-distributed">

      <div class="footer-left">

        <div class="vallalat">
          <div class="logo-container">
            <img src="/assets/fixed_logo_transparent.png" class="logo justify-content-center" alt="logo"></div>
          <h3>Égre Nyíló<span> Mentálhigiénés Műhely</span></h3>
      </div>

        <br>
        
        <p class="footer-company-name">Égre Nyíló Mentálhigiénés Műhely © 2024</p>
      </div>
      <div class="footer-right">

        <p class="footer-company-about infok">
          <a [routerLink]="['/kapcsolat']" id="kapcsolat">Kapcsolat</a>
         </p>
        <br>
        <p id="kapcsolatszin">
          B. Kiss Eszter
        </p>
        <p>
          <i class="fa fa-phone" id="kapcsolatszin"></i> 06 70 375 0208<br>
        </p>
        <p id="kapcsolatszin">
          egrenyilo.mentalmuhely&#64;gmail.com
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/profile.php?id=61560125475796" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/egre.nyilo/" target="_blank"><i class="bi bi-instagram"></i></a>
          <br>
        </div>
        <a href="/assets/adatkezelesi-nyilatkozat.pdf" target="_blank" class="adatvedelem">Adatvédelem</a>

      </div>




