
<footer class="footer-distributed">

      <div class="footer-left">

        <div class="vallalat">
          <div class="logo-container">
            <img src="/assets/fixed_logo_transparent.png" class="logo justify-content-center" alt="logo"></div>
          <h3>Égre Nyíló<span> Mentálhigiénés Műhely</span></h3>

      </div>

        <!-- <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="#">Blog</a>

          <a href="#">Pricing</a>

          <a href="#">About</a>

          <a href="#">Faq</a>

          <a href="#">Contact</a>
        </p> -->

        <p class="footer-company-name">Égre Nyíló Mentálhigiénés Műhely © 2024</p>
      </div>

      <!-- <div class="footer-center">
        <div class="infok">
          <p>Hol vagyok megtalálható?</p>
          <br>
        </div>
          <div>
            <ul>
              <li>Tapolca, Fő tér 12.</li>
              <li>Győr, utcanév</li>
            </ul>
          </div> -->

        <!-- <div>
          <i class="fa fa-phone"></i>
          <p>06 70 375 0208 </p>
        </div> -->

        <!-- <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">asdasd</a></p>
        </div> -->

      <!-- </div> -->

      <div class="footer-right">

        <p class="footer-company-about infok">
          <a [routerLink]="['/kapcsolat']" id="kapcsolat">Kapcsolat</a>
          <!-- Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. egrenyilo.mentalmuhely@gmail.com -->
        </p>
        <br>
        <p>
          <i class="fa fa-phone"></i> 06 70 375 0208<br>
        </p>
        <p>
          egrenyilo.mentalmuhely&#64;gmail.com
        </p>

        <div class="footer-icons">

          <a href="https://www.facebook.com/profile.php?id=61560125475796" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/egre.nyilo/" target="_blank"><i class="bi bi-instagram"></i></a>
          <!-- <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a> -->

        </div>

      </div>




