.image-container {
  background-image: url("/assets/hatter.png");
  position: relative;
  width: 100vw; /* A kívánt szélesség */
  display: flex;
  justify-content: center;
  align-items: center; /* Igazítás középre */
  background-repeat: no-repeat;
  background-size: cover; /* Biztosítja, hogy a kép kitöltse a konténert, anélkül hogy összenyomódna */
  overflow: hidden; /* Elrejti a felesleges részeket */
  background-attachment: fixed;
}


