<!-- <div class="madar-background" id="madar-hatter">
  <img src="/assets/madar_hatter.png" alt="hatter" class="justify-content-center">
</div> -->



<!-- <div class="image-container">
  <img src="/assets/hatter.png" alt="hatter" class="background-image">
  <div class="overlay-text">
    <p>Lépj egyet előre a megoldás felé! Vedd fel a kapcsolatot a
      mentálhigiénés szakemberrel!</p>
  </div>
</div> -->



<div class="image-container">
  <img src="/assets/hatter.png" alt="hatter" class="background-image">
</div>
<ng-content></ng-content>

