.image-container {
  background-image: url("/assets/hatter.png");
  position: relative;
  width: 100vw; /* A kívánt szélesség */
  // height: 500px; /* Adj meg egy magasságot, ha szükséges */
  display: flex;
  justify-content: center;
  align-items: center; /* Igazítás középre */
  background-repeat: no-repeat;
  background-size: cover; /* Biztosítja, hogy a kép kitöltse a konténert, anélkül hogy összenyomódna */
  // background-position: center 10%; /* Beállíthatod a kívánt kezdőpozíciót */
  overflow: hidden; /* Elrejti a felesleges részeket */
  background-attachment: fixed;
}

// .image-container {
//   background-image: url("/assets/hatter.png");
//   position: relative;
//   width: 100vw; /* A kívánt szélesség */ //changed 07.08
//   // height: 500px; /* A kívánt magasság, pl. 50% a viewport magasságából */
//   // overflow: hidden; /* Elrejti a felesleges részeket */
//   display: flex;
//   justify-items: center;
//   justify-content: center;
//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-position: center 10%;
// }

// .background-image {
//   bottom: auto;
//   width: 100vw; //changed 07.08
//   height: 500px; //changed 07.08
//   object-fit: cover; /* A kép méretének igazítása a teljes méretre */
//   display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
//   // opacity: 1;
//   // position: absolute;
// }

// .custom-bg {

//   position: relative;
//   width: 100vw; /* A kívánt szélesség */ //changed 07.08
//   height: 30vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
//   overflow: hidden; /* Elrejti a felesleges részeket */
// }

// @media (max-width: 1180px) {
//   .overlay-text {
//     font-size: 50px; /* Kisebb betűméret a közepes képernyőknél */
//     width: 90%; /* Szélesség állítása közepes képernyőn */
//     bottom: auto;
//   }
// }

// @media (max-width: 600px) {
//   .overlay-text {
//     top: auto;
//     bottom: auto; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 48px; /* Kisebb betűméret a kisebb képernyőkön */
//   }
// }

// @media (max-width: 450px) {
//   .overlay-text {
//     top: auto;
//     bottom: 40px; /* Alulra igazítás */
//     left: 50%;
//     transform: translateX(-50%);
//     width: 90%; /* Szélesség állítása kisebb képernyőn */
//     padding: 5px;
//     font-size: 40px; /* Kisebb betűméret a kisebb képernyőkön */
//   }
// }


// .image-container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .background-image {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   display: block;
// }
