<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"> -->
<div class="hatterszin">
  <app-background>
    <div class="overlay-text">
      <p>„Hiába fürösztöd önmagadban,<br>csak másban moshatod meg arcodat.”<br><i>(József Attila)</i></p>
    </div>
  </app-background>

  <div class="rolam-text">
    <div class="row">
      <div class="column elso">
        <p>Amikor diákként „szakmát” kellett választani, azt választottam, ami aktuálisan leginkább érdekelt: az ókori irodalmat és nyelvészetet. Ebben találtam meg az emberi lélek kifürkészhetetlen mélységét, és a tiszta bölcsességet, amelynek bármilyen élethelyzetre van pár jó szava, megoldása. 
        </p>

      </div>
      <div class="column masodik">
        <img src="/assets/vizfolyas.png" alt="vizfolyas" class="vizfolyas">
      </div>
    </div>
  </div>
  <br>

  <div class="rolam-text">
    <div class="type-1">
      <p>Később mentálhigiénés szakemberré váltam, amit sok éves missziós munka kísért és előzött meg. 
        Leggyakrabban krízisek közepén fordultak hozzám emberek, akiket sikerült kikísérnem gödreikből. 
        Önismereti utam során feltettem a kérdést: kiknek tudok/szeretnék én végső soron segíteni 
        (hiszen mindenkinek nem tudunk segíteni)?</p>
    </div>

    <div class="marai">
      <p><b>„Mint ahogy csak az egyféle vércsoporthoz tartozó emberek tudnak egymásnak a veszély pillanataiban segíteni, 
        mikor vérüket adják embertársuknak, kinek rokon a vérképlete, úgy a lélek is akkor tud csak segíteni egy másik léleknek, 
        ha nem „másféle”, ha szemlélete, meggyőződésnél is titkosabb valósága hasonló.”</b></p>
    </div>

    <p id="szerzo"><i>(Márai Sándor)</i></p>

    <div class="felsorolas">

        <!-- <p class="bi bi-caret-right">  Bántottak, de csak szomorúságot érzel, dühöt nem? Kilátástalan a jövőd, 
          és egyébként sincs erőd bármit is építeni?
        </p>
        <p class="bi bi-caret-right"></p>

         -->
        <ul class="custom-list">
          <li><i class="bi bi-heartbreak"></i>  Bántottak, de csak szomorúságot érzel, dühöt nem? Kilátástalan a jövőd, és egyébként sincs erőd bármit is építeni?
          </li>
          <li><i class="bi bi-heartbreak-fill"></i>  
            Nem érted, miért leszel folyton áldozat a saját életedben?
          </li>
          <li><i class="bi bi-heartbreak"></i>  
            Ahová csak nézel, onnan ítélkezést kapsz? Nem mersz beszélni titkaidról, küzdelmeidről, mert úgyis elítélnének?
          </li>
          <li><i class="bi bi-heartbreak-fill"></i>  Függőségeid rabjaként látod már, hogy messzire tudnál repülni, de mintha magad vágnád le minden tavasszal a szárnyaidról a tollat? 
          </li>
          <li><i class="bi bi-heartbreak"></i>  Gondod van a testeddel, küzdesz a túlsúllyal, folyton hozol elhatározást a változtatásra, de végül nem sikerül végigcsinálni?</li>
          <li><i class="bi bi-heartbreak-fill"></i>  Nem szívesen beszélsz, vagy épp nem tudsz könnyek nélkül beszélni a gyermeked születéséről, mert ami a kórházban történt veled (és gyermekeddel), az borzasztó emlék?</li>
          <li><i class="bi bi-heartbreak"></i>  Hívőnek mondod magad, de vallásosnak nem – nem kérsz a közösségekből, esetleg valahol csalódtál már egy nagyot, de Istenre ettől függetlenül még kíváncsi vagy: miért engedi ezt a sok mindent? Hol van, ha hívom? </li>
          <li><i class="bi bi-heartbreak-fill"></i>  Egyedülálló szülő lettél, és senki nem érti meg, min mész keresztül?</li>
          <li><i class="bi bi-heartbreak"></i>  Nehéz a kapcsolatod a szüleiddel, úgy érzed, nem tudsz kiszabadulni a saját családodból: bűntudat kíséri legtöbb léptedet, és fojtogatnak szeretetükkel (vagy valami olyasmivel)?</li>
          <li><i class="bi bi-heartbreak-fill"></i>  Meghalt valaki, aki most nagyon hiányzik?</li>
          <li><i class="bi bi-heartbreak"></i>  Elveszítettél valami fontosat…</li>
          <li><i class="bi bi-heartbreak-fill"></i>  Nem tudsz nemet mondani, a határokat húzni?</li>
        </ul>

        
    </div>
    <br>

    <div class="type-1">
      <p>Vannak nehézségek, amelyekkel egyedül nem bírunk el. Van, hogy elárasztanak az érzelmek, látásmódunk beszűkül, 
        és szükségünk lesz valakire, aki segít tisztán látni. A mentálhigiénés segítő beszélgetés során segítek hozzáférni meglévő, 
        saját erőforrásaidhoz, hogy meg tudj küzdeni az aktuális helyzeteddel.</p>
    </div>
    <img src="/assets/tukor.png" alt="tukor" class="tukor">
    <br>

    <div class="type-1">
      <p>
        <b>Szívügyem a lélek igazságának kihangosítása.</b> Belül tudod, hogy mi a nem jó, de nem mered kimondani. 
        Ijesztő megfogalmazni, talán az sem merül fel benned, hogy igazad lehet. <br><br>
        Tükör leszek számodra, amelyben megláthatod saját érzéseidet, amelyek talán egyelőre felismerhetetlenek, 
        vagy elviselhetetlenek. Megmutatom értékességedet, egyediségedet és pótolhatatlanságodat, ami talán nem látszik onnan, 
        ahonnan jelenleg nézed.<br><br>
        Menedéket adok, mert elfogadlak úgy, ahogy vagy. Az ítéletmentes légkörben szét tud foszlani a szégyen, felszabadul a lélek, 
        és az elfojtott érzelmek felszínre kerülnek.<br><br>
        Távcső is leszek, amellyel távolabbról tudod szemlélni helyzetedet, problémáidat, ezáltal könnyebben eljuthatsz a megoldáshoz. 
        Fókuszálni segítek részterületekre, hogy együtt jobban megértsük, mi is történik.<br>
      </p>
    </div>
      
  </div>

  
  




</div>
