
.overlay-text {
  font-family: 'Garamond';
  font-size: 3em; /* Például: 5em a szöveg méretéhez */
  // top: 30%;
  // bottom: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: rgb(114, 113, 216);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 7rem;
}

.custom-bg {
  width: 100vw; /* A kívánt szélesség */ //changed 07.08
  height: 30vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
  overflow: hidden; /* Elrejti a felesleges részeket */
  object-fit: cover; /* A kép méretének igazítása a teljes méretre */
  display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
}

.hatterszin {
  // background-image: linear-gradient(#015847, #06ac8b, #68cbf3, #bfeafb);
  background-image: linear-gradient(#007c63, #06ac8b, #68cbf3, #bfeafb);
  margin: 0; /* Győződj meg róla, hogy nincs margin a body-n */
  padding: 0; /* Győződj meg róla, hogy nincs padding a body-n */
  height: 100%; /* Biztosítja, hogy a háttérszín az egész oldalon érvényes legyen */
}

.elso {
  font-size: 22px;
  color: rgb(0, 0, 0);
}


.row {
  display: flex;
  flex-direction: column; /* Alapértelmezett függőleges elrendezés */
}

.column {
  width: 100%;
  justify-content: center;
  text-align: justify;
  padding: 10px 0; /* További stílusok az oszlophoz */
}

/* Ha a szélesség 690px felett van, két oszlopos elrendezés */
@media (min-width: 690px) {
  .row {
    flex-direction: row; /* Vízszintes elrendezés */
  }

  .masodik{
    width: 100%;
  }
}

.senderbutton{
  align-items: center;
  background: #FFFFFF;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.kapcsolatszoveg {
  font-family: 'Garamond';
  font-size: 22px;
  color: #000000;
}

@media (max-width: 452px) {
  .overlay-text{
    margin-top: 100px;
  }
  .custom-bg{
    margin-top: 90px;
  }
}


// .custom-bg {

//   position: relative;
//   width: 100vw; /* A kívánt szélesség */ //changed 07.08
//   height: 700vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
//   overflow: hidden; /* Elrejti a felesleges részeket */
// }

.tacbox {
  display:block;
  padding: 0em;
  margin: 0em;
  max-width: 800px;
}

// input {
//   height: 2em;
//   width: 2em;
//   vertical-align: middle;
// }
