<app-background class="custom-bg">
  <div class="overlay-text custom-bg">
    <p>Kapcsolat</p>
  </div>
</app-background>
<div class="hatterszin">
  <div class="container">
    <div class="row">
      <!-- Bal oldali oszlop -->
      <div class="col-md-6">
        <div id="emailForm">
          <br>
          <div class="kapcsolatszoveg">
            <p>
              Legegyszerűbb mód a kapcsolatfelvételre, ha felhívsz telefonon:<br>06 70 375 0208.<br>
              Ha nem tudom felvenni, amint tudlak, vissza foglak hívni.<br>
              Vagy töltsd ki ezt az űrlapot, és leveledre egy napon belül válaszolni fogok.
            </p>
          </div>
          <br>

          <div class="row mb-3">
            <div class="col-md-8">
              <label for="name" class="form-label"></label>
              <input (change)="changer($event, 'name')" type="text" class="form-control" id="name" name="name" placeholder="Teljes név" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label for="email" class="form-label"></label>
              <input (change)="changer($event, 'email')" type="email" class="form-control" id="email" name="email" placeholder="E-mail cím" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label for="phone" class="form-label"></label>
              <input (change)="changer($event, 'phone')" type="tel" class="form-control" id="phone" name="phone" placeholder="Telefonszám" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label for="message" class="form-label"></label>
              <textarea (change)="changer($event, 'text')" class="form-control" id="message" name="message" placeholder="Üzenet" rows="3" required></textarea>
            </div>
          </div>
          <br>

          <div class="tacbox">
            <input id="checkbox" type="checkbox" />
            <label for="checkbox"> I agree to these <a href="#">Terms and Conditions</a>.</label>
          </div>

          <br>
          <button type="submit" class="senderbutton" (click)="sender()">Küldés</button>
        </div>
      </div>

      <!-- Jobb oldali oszlop -->
      <div class="col-md-6">
        <!-- Itt bármit elhelyezhetsz -->
        <div class="jobb-oldal justify-content-center text-center align-items-center">
          <img src="/assets/profil1.jpg" alt="profil" class="profil">
          <br>
          <img src="/assets/teszthatter.png" alt="teszthatter" class="teszthatter">
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</div>
