<app-background class="custom-bg">
  <div class="overlay-text custom-bg">
    <p>Kapcsolat</p>
  </div>
</app-background>
<div class="hatterszin">
  <div class="container">
    <div class="row">
      <!-- Bal oldali oszlop -->
      <div class="col-md-6">
        <form id="emailForm" (submit)="onSubmit()" [formGroup]="formGroup">
          <br>
          <div class="kapcsolatszoveg">
            <p>
              Legegyszerűbb mód a kapcsolatfelvételre, ha felhívsz telefonon:<br>06 70 375 0208.<br>
              Ha nem tudom felvenni, amint tudlak, vissza foglak hívni.<br>
              Vagy töltsd ki ezt az űrlapot, és leveledre egy napon belül válaszolni fogok.
            </p>
          </div>
          <br>
          <div class="row mb-3">
            <div class="col-md-8">
              <label for="name" class="form-label"></label>
              <input formControlName="name" type="text" class="form-control" id="name" name="name" placeholder="Teljes név" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label for="email" class="form-label"></label>
              <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="E-mail cím" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-8">
              <label for="phone" class="form-label"></label>
              <input formControlName="phone" type="tel" class="form-control" id="phone" name="phone" placeholder="Telefonszám" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label for="message" class="form-label"></label>
              <textarea formControlName="text" class="form-control" id="message" name="message" placeholder="Üzenet" rows="3" required></textarea>
            </div>
          </div>
          <br>
          <div class="tacbox">
            <input id="checkbox" type="checkbox" required formControlName="terms"/>
            <!-- <div *ngIf="formGroup.get('terms') && formGroup.get('terms').touched && formGroup.get('terms').invalid">
              <small *ngIf="formGroup.get('terms').errors.required">This is required.</small>
            </div> -->
            <label for="checkbox">Elfogadom az <a href="/assets/altalanos-megbizasi-feltetelek.pdf" target="_blank">Általános Megbízási Feltételeket</a><br> és az
              <a href="/assets/adatkezelesi-nyilatkozat.pdf" target="_blank">Adatkezelési Nyilatkozatot</a>.</label>
              <div *ngIf="formGroup.get('terms')?.touched && formGroup.get('terms')?.invalid">
                <small style="color: red;">A folytatáshoz el kell fogadnia a feltételeket.</small>
              </div>
          </div>
          <br>

          <button type="submit" class="senderbutton" [disabled]="isLoading">
            <ng-container *ngIf="!isLoading; else loading">
              Küldés
            </ng-container>
            <ng-template #loading>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Küldés folyamatban...
            </ng-template>
          </button>
        </form>
      </div>
      <br>

      <!-- Jobb oldali oszlop -->
      <div class="col-md-6  profil">
        <!-- Itt bármit elhelyezhetsz -->
        <div class="jobb-oldal text-center">
          <img src="/assets/profil1.jpg" alt="profil" class="profil">
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br>
</div>
