<app-background  class="custom-bg">
  <div class="overlay-text custom-bg" >
  <p>Kapcsolat</p>
</div>
</app-background>
<div class="hatterszin">
  <div class="container">
    <div id="emailForm">
      <br>
      <div class="kapcsolatszoveg w-50">
        <p>
          Legegyszerűbb mód a kapcsolatfelvételre, ha felhívsz telefonon:<br>06 70 375 0208.<br>
          Ha nem tudom felvenni, amint tudlak, vissza foglak hívni.
          Vagy töltsd ki ezt az űrlapot, és leveledre egy napon belül válaszolni fogok.
        </p>
      </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="name" class="form-label"></label>
                <input (change)="changer($event, 'name')" type="text" class="form-control" id="name" name="name" placeholder="Az Ön teljes neve" required>
            </div>
            <!-- <div class="col-md-3">
                <label for="email" class="form-label"></label>
                <input type="email" class="form-control" id="email" name="email" placeholder="E-mail címe" required>
            </div> -->
        </div>
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="email" class="form-label"></label>
            <input (change)="changer($event, 'email')" type="email" class="form-control" id="email" name="email" placeholder="E-mail címe" required>
        </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="phone" class="form-label"></label>
                <input (change)="changer($event, 'phone')" type="tel" class="form-control" id="phone" name="phone" placeholder="Telefonszáma" required>
            </div>
            <!-- <div class="col-md-3">
                <label for="subject" class="form-label"></label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Üzenet tárgya" required>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="message" class="form-label"></label>
                <textarea (change)="changer($event, 'text')" class="form-control" id="message" name="message" placeholder="Üzenet" rows="3" required></textarea>
            </div>
        </div>
        <br>
        <button type="submit" class="senderbutton" (click)="sender()">Küldés</button>

    </div>
</div>
<br><br><br><br><br><br><br><br><br>
</div>
