/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/bulma/bulma";


// @import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/Garamond.woff2') format('woff2'),
       url('/assets/fonts/Garamond.woff') format('woff'),
       url('/assets/fonts/Garamond.ttf') format('truetype'),
       url('/assets/fonts/Garamond.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Garamond', serif;
}
