.overlay-text {
  font-family: 'Garamond';
  font-size: 3em; /* Például: 5em a szöveg méretéhez */
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 9rem;
}

.custom-bg {
  width: 100vw; /* A kívánt szélesség */ //changed 07.08
  height: 30vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
  overflow: hidden; /* Elrejti a felesleges részeket */
  object-fit: cover; /* A kép méretének igazítása a teljes méretre */
  display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
}

.hatterszin {
  background-image: linear-gradient(#007c63, #06ac8b, #68cbf3, #bfeafb);
  margin: 0; /* Győződj meg róla, hogy nincs margin a body-n */
  padding: 0; /* Győződj meg róla, hogy nincs padding a body-n */
  height: 100%; /* Biztosítja, hogy a háttérszín az egész oldalon érvényes legyen */
}

.arak-text {
  font-family: 'EB Garamond';
  padding: 10px;
  width: 80%;
  max-width: 65rem;
  margin: 0 auto;
  // text-align: justify;
  font-size: 22px;
  color: black;
}

.egyeni-cim{
  font-size: 2rem;
  color: black;
  text-align: center;
}

.lemondasi-cim{
  font-size: 1.7rem;
  text-align: left;
}

.egyedulallo{
  text-align: center;
}

.time{
  color:#a9d2e2;
  text-align: center;
  font-size: 1.5rem;
}

.csoport-cim{
  font-size: 2rem;
  color: black;
  text-align: left;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


@media (max-width: 900px) {
  .row, .column {
    flex-direction: column; /* Függőleges elrendezés */
    max-width: 100%;
    width: 100% !important;
  }

}



* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: black;
  background-color: hsla(0, 0%, 60%, 0.3);
}


@media (max-width: 564px) {
  .overlay-text{
    margin-top: 80px !important;
  }
  .custom-bg{
    margin-top: 100px;
  }
}


@media (max-width: 800px) {
  .arak-text, .overlay-text{
    width: 92%;
    padding: 2px;
  }
}
