.overlay-text {
  font-family: 'Garamond';
  font-size: 3em; /* Például: 5em a szöveg méretéhez */
  // top: 30%;
  // bottom: 40%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // color: rgb(114, 113, 216);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 9rem;
}

.custom-bg {
  width: 100vw; /* A kívánt szélesség */ //changed 07.08
  height: 30vh; /* A kívánt magasság, pl. 50% a viewport magasságából */
  overflow: hidden; /* Elrejti a felesleges részeket */
  object-fit: cover; /* A kép méretének igazítása a teljes méretre */
  display: block; /* Az elem körül elhelyezkedő margin összeomlásának megelőzése */
}

.hatterszin {
  // background-image: linear-gradient(#015847, #06ac8b, #68cbf3, #bfeafb);
  background-image: linear-gradient(#007c63, #06ac8b, #68cbf3, #bfeafb);
  margin: 0; /* Győződj meg róla, hogy nincs margin a body-n */
  padding: 0; /* Győződj meg róla, hogy nincs padding a body-n */
  height: 100%; /* Biztosítja, hogy a háttérszín az egész oldalon érvényes legyen */
}

.arak-text {
  font-family: 'Garamond';
  padding: 10px;
  width: 80%;
  max-width: 65rem;
  margin: 0 auto;
  text-align: justify;
  font-size: 22px;
  color: black;
}

.lista{
  text-align: justify;
}

.berlet{
  text-align: justify;
}

.egyeni-cim{
  font-size: 2rem;
  color: black;
  text-align: center;
}

.lemondasi-cim{
  font-size: 1.7rem;
  text-align: left;
}

.egyedulallo{
  text-align: center;
}

.time{
  color:#5c5c5c;
  text-align: center;
}

.csoport-cim{
  font-size: 2rem;
  color: black;
  text-align: left;
}

// .csoport-szoveg{
//   font-family: 'Garamond';
//   padding: 10px;
//   max-width: 65rem;
//   margin: 0 auto;
//   text-align: justify;
//   font-size: 22px;
//   color: black;
// }


.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}




* {
  box-sizing: border-box;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: black;
  background-color: hsla(0, 0%, 60%, 0.3);



  // background-color: transparent;
}


@media (max-width: 564px) {
  .overlay-text{
    margin-top: 155px;
  }
  .custom-bg{
    margin-top: 100px;
  }
}


@media (max-width: 800px) {
  .arak-text, .overlay-text{
    width: 92%;
    // max-width: 100%;
    padding: 2px;
  }
}
