<app-background  class="custom-bg">
    <div class="overlay-text custom-bg" >
    <p>Szolgáltatások</p>
</div>
</app-background>
<div class="hatterszin">
    <div class="szolg-text">
        <div class="row">
          <div class="column elso">
            <p class="szolg-cim"><b>Egyéni konzultáció</b></p>
            <br>
            <p>Találkozhatunk online, illetve személyesen (Pápán). Egy konzultáció időtartama 60 perc.
                Az első találkozás alatt hamar kiderül, hogy én vagyok-e az, akit keresel, akit segítődül választasz.
                Ha mindketten úgy érezzük, tudunk együtt dolgozni, akkor a hozott probléma jellegének megfelelően együtt alakítjuk ki a
                találkozásaink ütemét. Először általában egy háromalkalmas segítőbeszélgetés-sorozatot javaslok,
                de a hosszabb távú segítő kapcsolat is gyakori. Ez 5 alkalomtól több hónapig is eltarthat a kliens igényeit,
                a kitűzött célokat, és szakmai szempontokat figyelembe véve. Az is előfordul időnként,
                hogy egyetlen alkalom is nagy előrelépést hoz.</p>

            </div>
          <div class="column masodik">
            <br><br><br>
            <img src="/assets/egyeni.png" alt="egyeni" class="egyeni">
          </div>
        </div>
        <br>


        <div class="row">
            <div class="column elso">
              <p class="szolg-cim" id="szulesfeldolgozo"><b>Szülésfeldolgozó csoport nőknek</b></p>
              <br>
              <p>Sajnos gyakran előfordul, hogy gyermekünk születése nem olyan csodálatos élmény, mint azt szerencsésebb anyáktól
                halljuk, vagy ahogy filmekben látjuk. Gyakran örülünk, hogy mindketten túléltük, és legszívesebben nem is beszélünk
                róla, mert el akarjuk felejteni. Vagy épp ellenkezőleg: nem tudunk könnyek nélkül beszélni róla, és úgy érezzük,
                hogy nem tudjuk elégszer elmondani ahhoz, hogy megkönnyebbüljünk. Lehet a gyermekünk pici, vagy már kamasz.
                A születése emlékei ott vannak mint nyílt sebek, amelyek be tudják árnyékolni kapcsolatunkat gyermekünkkel és
                önmagunkkal is. A csoportokat 3 fővel indítom, a várható időtartam 5 alkalom.
                Ha esetleg szeretnél ezzel dolgozni, de úgy érzed, a csoport nem neked való, egyéni konzultációkra is van lehetőség.
                </p>

              </div>
            <div class="column masodik">
              <br><br><br>
              <img src="/assets/szules.png" alt="szules" class="szules">
            </div>
          </div>
          <br>


          <div class="row">
            <div class="column elso">
              <p class="szolg-cim" id="erzelmi"><b>Érzelmi evés csoport </b></p>
              <br>
              <p>Mi is ennek a neve? Evészavar? Túlevés? Falászavar? Falásroham? Vagy mit is jelent, honnan ered?
                Impulzuskontroll-zavar, vagy szorongásos zavar? Esetleg egyik sem? A definíciók ekörül jelenleg is alakulnak.
                Ez a csoport azoknak szól, akik küzdenek a kilókkal. Akár évek óta. Millió módszert kipróbáltak már,
                de vagy nem segített, vagy nagyon hamar eltűnt a lelkesedés. Az evést bűntudat, a tükörképet szégyen kíséri,
                és már nagyon szeretnék visszanyerni az életörömöt, találkozni régi-régi ismerősökkel, akikkel csak azért nem
                futnak össze, mert szégyenlik a testüket.
                Nem azt ígérem, hogy le fogsz fogyni. Semmilyen csodamódszerem nincs arra, hogy megszabadulj a kilóktól.
                Azt tapasztalom, hogy elég okosak vagyunk mi: pontosan tudjuk, mit és hogyan kellene enni, mit és mennyit kellene
                mozogni. A probléma a kitartással van, a lelkesedéssel, a motivációval. Egy ponton mindig megjelenik a sóvárgás,
                nyomában pedig a keserűség. Mivel személyesen ismerem ezt az utat, abban tudok neked segíteni,
                hogy megtaláld az okokat, felismerd a benned zajló folyamatokat. Sokkal könnyebb legyőzni azt a sárkányt,
                amit kiismertünk.
                Fontos, hogy ez nem egy fogyókúrás módszer, nem adok konkrét étkezési vagy mozgásbeli tanácsokat – hiszen sem orvos,
                sem dietetikus, sem edző nem vagyok. A lelked étkezéseit vizsgáljuk meg.
                Ez egy nagyon nehéz küzdelem. De érdemes kitartani, és minden módon hozzáfogni, amíg csak össze nem jön!
                Legyen fontos a saját életed, a saját életed szeretete. Legyen az életed önmagában is érték!
                (Anyáknak és apáknak: így a gyerekeid is ezt tanulják el tőletek: az életük önmagában is érték!)
                Ha esetleg szeretnél ezzel dolgozni, de úgy érzed, a csoport nem neked való, egyéni konzultációkra is van lehetőség
                online, vagy személyesen.
                </p>

              </div>
            <div class="column masodik">
              <br><br><br>
              <img src="/assets/eves.png" alt="eves" class="eves">
            </div>
          </div>


          <div class="row">
            <div class="column elso">
              <p class="szolg-cim" id="egyedulallo"><b>Önismereti csoport egyedülálló anyáknak </b></p>
              <br>
              <p>Gyakran előfordul, hogy egyedül maradunk gyermekünkkel. Ennek számos oka lehet. Van, hogy gyermekünk apját egy tragédia szakítja el tőlünk,
                és el kell őt temetnünk. Olyan is van, hogy az apa csak fogja magát, és kiszáll az életünkből. Előfordul, hogy elválunk tőle,
                vagy valami más miatt kerülünk abba a helyzetbe, hogy egyedül neveljük gyermekünket, gyermekeinket. Ez aztán igazán embert próbáló feladat.
                Én magam is hosszú évekig neveltem egyedül a fiamat. Van egy kifejezés, amit kifejezetten erre a helyzetre, létállapotra szoktam használni:
                ez a “nincs opció”-helyzet. Életkori sajátosságok szerint, amikor a kicsi éjjel huszadszorra sír fel, nincs segítség, nincs opció, fel kell kelni.
                Amikor beteg lesz, otthon kell vele maradni, kimaradunk a munkából - nincs más opció, otthon maradunk. Ha döntéshelyzetbe kerülünk,
                amelyben súlyos felelősség terhel, választani kell valamit - nincs más opció. Ha már kamaszodik, és becsapja előttünk az ajtót, viaskodik,
                a közös életünk a férfi jelenlét nélkül is egy igazi spártai harctér, nem futhatunk el, nincs opció. Van, hogy újraházasodunk, új kapcsolatba lépünk,
                de az új párunk nem tud a gyermekünkhoz a vágyott módon és minőségben kapcsolódni. Sokan azt fejezik ki ebben a helyzetben, hogy “egyedülálló anya voltam,
                aztán újraházasodtam, és egyedülálló anya is maradtam”. Mintha zárt, sérthetetlen világot alkotnál gyerekeiddel, amibe, ahogy telik az idő,
                senki nem tud belépni. Ilyen, és ehhez hasonló kérdésekre keressük a választ a csoportalkalmakon:
                <br>
                Ki vagyok én a gyermekem számára? Anya, apa, vagy az egész világ? Ki ő nekem? Mi az én feladatom, és mi nem az?
                Hogyan lehetnék inkább csak anya? Hogy csináljam jól? Mit kezdjek a bűntudattal? Lehetek én még más is, vagy csak anya? Milyen szerepeim vannak még?
                Mire vágyom? Hogyan legyek szabad, független, önálló felnőtt, aki magabiztosan vállal felelősséget tetteiért? Hogyan szeressem a gyermekemet?
                Hogyan nyerjem vissza a reményt és a tüzet?
                <br>
                Ha egyedül neveled gyermekedet, vagy kapcsolatban, de mégis egyedül, kérj segítséget! Gyere el egy csoportba, és tegyél egy lépést önmagad érdekében!
                </p>

              </div>
            <div class="column masodik">
              <br><br><br>
              <img src="/assets/egyedulallo.png" alt="egyedulallo" class="egyedulallo">
            </div>
          </div>
    </div>

</div>
