body {
		font-family: "Century Gothic", 'Lato', sans-serif;
}

a {
	text-decoration: none;
}

.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	  &:hover {
			color:rgb(255, 0, 0);
      // background: rgba(102,177,241,0.8);
      background: #fdeeee;
			transition: all 0.5s ease;
    }
}

.et-hero-tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

@media (min-width: 800px) {
	.et-hero-tabs,
	.et-slide {
    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1rem;
    }
	}
	.et-hero-tab {
		font-size: 1rem;
	}
}

.navbar-wrapper {
  position: relative;
}

.burger-icon {
  cursor: pointer;
}

.navbar-menu {
  position: absolute;
  top: 50px; /* A navbar magasságától függően változtathatod */
  left: -100%; /* Elrejtjük alapértelmezetten */
  width: 200px; /* Változtathatod a menü szélességét */
  transition: left 0.3s ease; /* Animáció hozzáadása */
  background-color: #f8f9fa; /* Háttérszín */
  border: 1px solid #dee2e6; /* Keret */
  padding: 10px; /* Belső tér */
}

.navbar-menu.open {
  left: 0; /* Kicsúszó menü pozíciója */
}

.desktop-navbar {
  display: block; // Asztali nézetben jelenik meg
}

.mobile-navbar {
  display: none; // Alapértelmezetten nem jelenik meg mobil nézetben
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fdeeee; /* navbar háttérszín */
  z-index: 1000; /* Ha más elemek kerülnek rá, akkor ez biztosítja, hogy a sáv felül legyen */
}

/* Ha szükséges, állítsd be a margin-top tulajdonságot a tartalomnak,
   hogy ne essen át a sáv alá, amikor rögzítetté válik. */
.content {
  margin-top: 50px; /* példa: ha a sáv magassága 50px */
}

@media (max-width: 767px) {
  .desktop-navbar {
    display: none; // Mobil nézetben elrejtjük az asztali nézetet
  }
  .mobile-navbar {
    display: block; // Mobil nézetben jelenik meg a burger menü
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 350px;
  height: 100px;
}

.logo-text {
  font-size: 24px; /* Igazítsd a szöveg méretét a logó méretéhez */
  font-weight: bold; /* Igazítsd a szöveg stílusát */
  margin-left: 10px; /* Távolság a logótól */
}

#mobilhatter {
  background-color: #fdeeee;
  background: #fdeeee;
}

.navbar-nav {
  background-color: #fdeeee;
  background: #fdeeee;
}

//menü lenyílásának animációjaű

// @keyframes slideDown {
//   0% {
//     transform: translateY(-50%);
//     opacity: 0;
//   }
//   100% {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }

// .navbar-nav {
//   height: 30vh; /* A teljes képernyő magassága */
//   display: flex;
//   flex-direction: column;
//   justify-content: center; /* Középre igazítás függőlegesen */
//   align-items: center; /* Középre igazítás vízszintesen */
// }

// .navbar-collapse {
//   animation: slideDown 0.5s ease-in-out;
// }

// .collapse:not(.show) {
//   display: none !important;
// }

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px; /* Elég nagy érték, hogy biztosan befogadja a tartalmat */
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

.navbar-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

.navbar-collapse.show {
  animation: slideDown 0.8s forwards;
}

.navbar-collapse.hide {
  animation: slideUp 0.8s forwards;
}

// .navbar-expand-lg{
//   margin-right: 5px;
// }


@media (max-width: 445) {

}
