  <!-- Hero -->
  <div class="navbar-wrapper">
    <div class="desktop-navbar">

      <div class="et-hero-tabs-upper bg-white navbar nav">
        <a class="" href="#tab-es6" >
          <img src="assets/logo.png" alt="Logó" class="logo-img" width="100" height="75">
          </a>
        <a class="et-hero-tab rounded" href="#tab-es6">Kezdőlap</a>
        <a class="et-hero-tab rounded" href="#tab-flexbox">Flexbox</a>
        <a class="et-hero-tab rounded" href="#tab-react">React</a>
        <a class="et-hero-tab rounded" href="#tab-angular">Angular</a>
        <a class="et-hero-tab rounded" href="#tab-other">Other</a>
        <span class="et-hero-tab-slider"></span>
      </div>

    </div>
  </div>

  <div class="mobile-navbar" *nkIf="isMobile()">
    <div class="burger-icon" (click)="toggleMenu()">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-menu" [class.open]="menuOpen">
      <ul>
        <a class="et-hero-tab rounded" href="#tab-es6">Kezdőlap</a>
        <a class="et-hero-tab rounded" href="#tab-flexbox">Flexbox</a>
        <a class="et-hero-tab rounded" href="#tab-react">React</a>
        <a class="et-hero-tab rounded" href="#tab-angular">Angular</a>
        <a class="et-hero-tab rounded" href="#tab-other">Other</a>
      </ul>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <!-- Main -->
  <!-- <main class="et-main">
    <section class="et-slide" id="tab-es6">
      <h1>ES6</h1>
      <h3>something about es6</h3>
    </section>
    <section class="et-slide" id="tab-flexbox">
      <h1>Flexbox</h1>
      <h3>something about flexbox</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1>React</h1>
      <h3>something about react</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1>Angular</h1>
      <h3>something about angular</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Other</h1>
      <h3>something about other</h3>
    </section>
  </main> -->
