  <!-- Hero -->
  <div class="navbar-wrapper">
    <div class="desktop-navbar" *ngIf="!isMobileView">
      <div class="et-hero-tabs-upper navbar nav">
        <a [routerLink]="['/kezdolap']" routerLinkActive="router-link-active" class="">
          <div class="logo-cointainer justify-content-center">
           <img src="assets/teszthatter.png" alt="Logó" class="logo-img justify-content-center" id="szoveglogo">
           <!-- <span class="logo-text">Égre Nyíló Mentálhigiénés Műhely</span> -->
          </div>
        </a>
        <a class="et-hero-tab rounded" [routerLink]="['/kezdolap']">KEZDŐLAP</a>
        <a class="et-hero-tab rounded" [routerLink]="['/rolam']">RÓLAM</a>
        <a class="et-hero-tab rounded" [routerLink]="['/szolgaltatasok']">SZOLGÁLTATÁSOK</a>
        <a class="et-hero-tab rounded" [routerLink]="['/kapcsolat']">KAPCSOLAT</a>
        <a class="et-hero-tab rounded" [routerLink]="['/arak']">ÁRAK</a>
        <!-- <a class="et-hero-tab rounded" [routerLink]="['/miert-online']">MIÉRT ONLINE?</a> -->

        <span class="et-hero-tab-slider"></span>
      </div>
    </div>
  </div>


  <div *ngIf="isMobileView" class="navbar navbar-expand-lg navbar-light" id="mobilhatter">
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <a class="navbar-brand" [routerLink]="['/kezdolap']">
        <img src="assets/teszthatter.png" alt="Logó" class="logo-img" width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" [class.show]="menuOpen" id="navbarNav">
      <ul class="navbar-nav d-flex flex-column justify-content-center align-items-center">
        <li class="nav-item justify-content-end">
          <a class="nav-link active justify-content-end" [routerLink]="['/kezdolap']" routerLinkActive="active">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/rolam']" routerLinkActive="active">Rólam</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/szolgaltatasok']" routerLinkActive="active">Szolgáltatások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/kapcsolat']" routerLinkActive="active">Kapcsolat</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/miert-online']" routerLinkActive="active">Miért online?</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/arak']" routerLinkActive="active">Árak</a>
        </li>

      </ul>
    </div>
  </div>



  <!-- <div class="mobile-navbar navbar-toggler collapse navbar-collapse" ">
    <div class="burger-icon navbar-toggler " (click)="toggleMenu()">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-menu" [class.open]="menuOpen">
      <ul>
        <a class="et-hero-tab rounded" href="#tab-es6">Kezdőlap</a>
        <a class="et-hero-tab rounded" href="#tab-flexbox">Flexbox</a>
        <a class="et-hero-tab rounded" href="#tab-react">React</a>
        <a class="et-hero-tab rounded" href="#tab-angular">Angular</a>
        <a class="et-hero-tab rounded" href="#tab-other">Other</a>
      </ul>
    </div>
  </div> -->


  <!-- Main -->
  <!-- <main class="et-main">
    <section class="et-slide" id="tab-es6">
      <h1>ES6</h1>
      <h3>something about es6</h3>
    </section>
    <section class="et-slide" id="tab-flexbox">
      <h1>Flexbox</h1>
      <h3>something about flexbox</h3>
    </section>
    <section class="et-slide" id="tab-react">
      <h1>React</h1>
      <h3>something about react</h3>
    </section>
    <section class="et-slide" id="tab-angular">
      <h1>Angular</h1>
      <h3>something about angular</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Other</h1>
      <h3>something about other</h3>
    </section>
  </main> -->
